from __future__ import annotations
{% if include_example_code %}
from django.contrib.auth.models import User
from django.db.models import Count, Q
from django.shortcuts import render
from django.views.generic import ListView

from {{ python_package_name }}.{{ core_app_name }}.models import Image


class GalleryView(ListView):
    queryset = Image.objects.order_by('created')
    template_name = '{{ core_app_name }}/gallery.html'
    paginate_by = 20


def image_summary(request):
    return render(
        request,
        '{{ core_app_name }}/summary.html',
        {
            'user_summary': User.objects.annotate(
                processed_images=Count('image', filter=~Q(image__checksum='')),
                unprocessed_images=Count('image', filter=Q(image__checksum='')),
            )
        },
    )
{% endif -%}
