{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Django: Server",
      "type": "debugpy",
      "request": "launch",
      "program": "${workspaceFolder}/manage.py",
      "args": ["{% if use_asgi %}runserver{% else %}runserver_plus{% endif %}", {% if not use_asgi -%}"--print-sql", {% endif -%}"localhost:8000"],
      "django": true,
      "console": "integratedTerminal"
    },
    {
      "name": "Django: Server (eager Celery)",
      "type": "debugpy",
      "request": "launch",
      "program": "${workspaceFolder}/manage.py",
      "args": ["{% if use_asgi %}runserver{% else %}runserver_plus{% endif %}", {% if not use_asgi -%}"--print-sql", {% endif -%}"localhost:8000"],
      "env": {
        "DJANGO_CELERY_TASK_ALWAYS_EAGER": "true"
      },
      "django": true,
      "console": "integratedTerminal"
    },
    {
      "name": "Django: Management Command",
      "type": "debugpy",
      "request": "launch",
      "program": "${workspaceFolder}/manage.py",
      "args": ["${input:managementCommand}"],
      "django": true,
      "console": "integratedTerminal"
    },
    {
      "name": "Celery: Worker",
      "type": "debugpy",
      "request": "launch",
      "module": "celery",
      "args": [
        "--app",
        "{{ python_package_name }}.celery",
        "worker",
        "--loglevel",
        "INFO",
        "--pool",
        "solo",
        "--without-heartbeat"
      ],
      "console": "integratedTerminal",
      "justMyCode": false
    },
    {
      "name": "Pytest: Debug",
      "type": "debugpy",
      "request": "launch",
      "purpose": ["debug-test"],
      "console": "integratedTerminal",
      "django": true,
      "justMyCode": false
    }
  ],
  "compounds": [
    {
      "name": "Django + Celery",
      "configurations": ["Django: Server", "Celery: Worker"],
      "stopAll": true
    }
  ],
  "inputs": [
    {
      "id": "managementCommand",
      "type": "command",
      "command": "shellCommand.execute",
      "args": {
        "command": "./manage.py help --commands",
        "description": "Django management command",
        "allowCustomValues": true
      }
    }
  ]
}
