data "aws_route53_zone" "this" {
  # This must be created by hand in the AWS console
  name = "{{ site_domain.split('.', 1)[1] }}"
}

data "heroku_team" "this" {
  name = "kitware"
}

module "django" {
  source  = "kitware-resonant/resonant/heroku"
  version = "2.1.1"

  project_slug           = "{{ project_slug }}"
  route53_zone_id        = data.aws_route53_zone.this.zone_id
  heroku_team_name       = data.heroku_team.this.name
  subdomain_name         = "{{ site_domain.split('.', 1)[0] }}"
  django_settings_module = "{{ python_package_name }}.settings.heroku_production"
}
