// For format details, see https://aka.ms/devcontainer.json. For config options, see the
// README at: https://github.com/devcontainers/templates/tree/main/src/docker-existing-docker-compose
{
    "name": "{{ project_name }} Django",
    "dockerComposeFile": [
        "../docker-compose.yml",
        "../docker-compose.override.yml"
    ],
    "service": "django",
    "overrideCommand": true,
    "workspaceFolder": "/home/vscode/{{ project_slug }}",
    "features": {
        "ghcr.io/robbert229/devcontainer-features/postgresql-client:1": {
            "version": 17
        },
        "ghcr.io/devcontainers-extra/features/fish-apt-get:1": {},
        "ghcr.io/devcontainers-extra/features/heroku-cli:1.0.5": {},
        "ghcr.io/devcontainers/features/aws-cli:1": {},
        "ghcr.io/devcontainers/features/github-cli:1": {}
        "ghcr.io/nils-geistmann/devcontainers-features/zsh:0": {},
    },
    "customizations": {
        "vscode": {
            "extensions": [
                // this removes the extension the AWS feature adds, see https://github.com/devcontainers/features/issues/1228
                "-AmazonWebServices.aws-toolkit-vscode",
                "matangover.mypy",
                "ms-python.debugpy",
                "ms-python.flake8",
                "ms-python.python",
                "ms-python.vscode-pylance",
                "tamasfe.even-better-toml"
            ],
            "settings": {
                // disable pylance type checking in lieu of using the mypy extension since
                // it will match CI/tox.
                "python.analysis.typeCheckingMode": "off",
                "python.analysis.gotoDefinitionInStringLiteral": true,
                "python.defaultInterpreterPath": "/home/vscode/uv-env/bin/python",
                "python.testing.pytestEnabled": true,
                "python.analysis.autoImportCompletions": true,
                // allow for auto-importing from deeper symbols inside of django
                "python.analysis.packageIndexDepths": [
                    {"name": "django", "depth": 6}
                ],
                "mypy.enabled": false,
                "mypy.runUsingActiveInterpreter": true,
                "flake8.importStrategy": "fromEnvironment"
            }
        }
    },
    "portsAttributes": {
        "8000": {
            "name": "Django",
            "onAutoForward": "ignore"
        },
        "9000": {
            "name": "MinIO",
            "onAutoForward": "ignore"
        },
        "9001": {
            "name": "MinIO Console",
            "onAutoForward": "ignore"
        }
    },
    "updateContentCommand": [
        "uv",
        "sync",
        "--all-extras",
        "--all-groups"
    ]
}
