terraform {
  required_version = ">= 1.1"

  cloud {
    organization = "kitware"

    workspaces {
      name = "{{ project_slug }}"
    }
  }

  required_providers {
    aws = {
      source = "hashicorp/aws"
    }
    heroku = {
      source = "heroku/heroku"
    }
    cloudflare = {
      source  = "cloudflare/cloudflare"
      version = "~> 4.0"
    }
  }
}

provider "aws" {
  region = "us-east-1"
  # Must set AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY envvars
}
provider "heroku" {
  # Must set HEROKU_EMAIL, HEROKU_API_KEY envvars
}
provider "cloudflare" {
  # Must set CLOUDFLARE_API_TOKEN envvars
}
