locals {
  www_env_vars = {
    # This should be replaced with any desired build-time environment variables
    VITE_SERVER_URL      = "https://${module.django.fqdn}"
  }
}

data "cloudflare_accounts" "this" {
  name = "Kitware"
}

resource "cloudflare_pages_project" "www" {
  account_id        = data.cloudflare_accounts.this.accounts[0].id
  name              = "{{ project_slug }}"
  production_branch = "master"

  source {
    type = "github"
    config {
      production_branch = "master"
      owner             = "kitware-data-solutions"  # TODO: replace?
      repo_name         = "{{ project_slug }}"
    }
  }

  build_config {
    build_caching   = true
    root_dir        = "web"  # TODO: replace?
    build_command   = "npm run build"
    destination_dir = "dist"
  }

  deployment_configs {
    preview {
      environment_variables = local.www_env_vars
    }
    production {
      environment_variables = local.www_env_vars
    }
  }
}

resource "cloudflare_pages_domain" "www" {
  account_id   = data.cloudflare_accounts.this.accounts[0].id
  project_name = cloudflare_pages_project.www.name
  domain       = aws_route53_record.www.fqdn
}

resource "aws_route53_record" "www" {
  zone_id = data.aws_route53_zone.this.zone_id
  name    = "www"
  type    = "CNAME"
  ttl     = 300
  records = [cloudflare_pages_project.www.subdomain]
}
