services:
  django:
    build:
      context: .
      dockerfile: ./dev/django.Dockerfile
    command: [
      "./manage.py",
      "{% if use_asgi %}runserver{% else %}runserver_plus{% endif %}", "0.0.0.0:8000"
    ]
    # Log printing is enhanced by a TTY
    tty: true
    working_dir: /home/vscode/{{ project_slug }}
    env_file: ./dev/.env.docker-compose
    volumes:
      - .:/home/vscode/{{ project_slug }}
      - pkg_cache:/home/vscode/pkg-cache
    ports:
      - 8000:8000
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_healthy

  celery:
    build:
      context: .
      dockerfile: ./dev/django.Dockerfile
    command: [
      "uv", "run",
      "celery",
      "--app", "{{ python_package_name }}.celery",
      "worker",
      "--loglevel", "INFO",
      "--without-mingle",
      "--without-heartbeat",
      "--without-gossip"
    ]
    # uv progress doesn't display properly with a Docker TTY
    tty: false
    working_dir: /home/vscode/{{ project_slug }}
    env_file: ./dev/.env.docker-compose
    volumes:
      - .:/home/vscode/{{ project_slug }}
      - pkg_cache:/home/vscode/pkg-cache
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_healthy

volumes:
  pkg_cache:
