release: python ./manage.py migrate
# Set `--timeout-graceful-shutdown` to shorter than the 30 second limit imposed by Heroku restarts
web: uvicorn {{ python_package_name }}.asgi:application --host 0.0.0.0 --port $PORT --workers $WEB_CONCURRENCY --timeout-graceful-shutdown 25
worker: REMAP_SIGTERM=SIGQUIT celery --app {{ python_package_name }}.celery worker --loglevel INFO --without-heartbeat
