from __future__ import annotations

from django.contrib.auth.models import User
import factory.django
{% if include_example_code %}
from {{ python_package_name }}.{{ core_app_name }}.models import Image
{% endif %}

class UserFactory(factory.django.DjangoModelFactory[User]):
    class Meta:
        model = User

    username = factory.SelfAttribute("email")
    email = factory.Faker("safe_email")
    first_name = factory.Faker("first_name")
    last_name = factory.Faker("last_name")
{% if include_example_code %}

class ImageFactory(factory.django.DjangoModelFactory[Image]):
    class Meta:
        model = Image

    name = factory.Faker("file_name", category="image")
    blob = factory.django.FileField(data=b"fakeimagebytes", filename="fake.png")
    owner = factory.SubFactory(UserFactory)
{% endif -%}
