from __future__ import annotations

from typing import TYPE_CHECKING

import pytest

from .factories import ImageFactory

if TYPE_CHECKING:
    from rest_framework.test import APIClient

    from {{ python_package_name }}.{{ core_app_name }}.models import Image


def test_image_checksum() -> None:
    # Use "build" strategy, so database is not required
    image: Image = ImageFactory.build()
    image.compute_checksum()
    assert image.checksum


@pytest.mark.django_db
def test_image_rest_retrieve(api_client: APIClient) -> None:
    image: Image = ImageFactory.create()

    resp = api_client.get(f'/api/v1/images/{image.id}/')
    assert resp.status_code == 200
    # Inspect .data to avoid parsing the response content
    assert resp.data['name'] == image.name
